*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

div.info{
    color: white;
    width: 20vw;
    font-family:'Times New Roman', Times, serif;
}

.info p, .info h3{
    font-family: Arial, Helvetica, sans-serif;
}

.calculator{
    background: grey;
    padding: 20px;
    border-radius: 5px;
}

form{
    overflow: hidden;
}

form .display{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 2rem;
    margin-bottom: 10px;
    padding-right: 10px;
    height: 15vh;
    background-color: white;
    border-radius: 5px;
}

.calculator form  input {
   border: transparent;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}

.calculator form input:active{
    background: rgb(179, 171, 171);
}

.calculator form input.clicked{
    background:rgb(134, 130, 130)
}

.clear{
    background: red;
    color: white;
    flex: 1;
}

form div .clear:hover{
    background: rgb(129, 11, 11);
}

.delete{
    background: black;
    color: white;
}

form div .delete:hover{
    background: rgb(49, 45, 45);
    color: white;
}

form div.equal-container{
   display: flex;

}

form div.equal-container input{
    flex: 1;
    background: green;
    color: white;
    font-size: 2rem;
}

form div .equal:hover{
    background: rgb(2, 70, 2);
}